* {
    margin: 0px;
    padding: 0px;
}

.containt-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin: auto; */
}

.heading-text {
    display: block;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    /*color: #ffb400;*/
    color: #103B1D;
    margin-top: 20px;
}

.experties-parent-container {
    width: 50vw;
}

.experties-container {
    padding: 20px;
    width: 100%;
    
}

.experties-img-container {
    padding: 20px;
}

.experties {
    line-height: 30px;
    font-size: 20px;
    margin: 20px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 1px 10px 0 rgb(0 0 0 / 19%);
}

.experties:hover {
    line-height: 30px;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 1px 10px 0 rgba(216, 200, 56, 0.19);
    /*background-color: #ffb400;*/
    background-color: #103B1D;
    color: white;
}

@media screen and (max-width: 480px) {

    .experties-parent-container {
        width: 100vw;
    }

    .containt-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .heading-text {
        display: block;
        text-align: center;
        font-size: 25px;
        margin: 20px;
        letter-spacing: 3px;
        font-weight: bold;
        /*color: #ffb400;*/
        color: #103B1D;
    }

    .experties-container{
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    
    .experties-container{
        width: 100%;
    }
    
}
