* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

header {
    height: auto;
    width: auto;
    position: sticky;
    top: 0px;
    z-index: 10;
    box-shadow: 0 1px 10px 0 rgb(0 0 0 / 19%);
    background-color: #fff;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

.menu {
    display: flex;
    gap: 3em;
    font-size: 18px;
}

.menu > li > a{
    /* color: white; */
    color: black;
}

.menu > li > a:hover {
    color: #ffb400;
}

.tenant-button {
    background-color: #ffb400;
    padding: 10px;
    border: 1px solid #ffb400;
    cursor: pointer;
    color: white;
}

input[type=checkbox] {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

.img-container {
    height: 500px;
    width: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.center-image {
    height: auto;
    width: 100%;
}

.center-image-home {
    object-fit: fill;
    height: 80%;
}

.logo{
    height: 100px;
    width: auto; 
} 

.tenant-button-home {
    display: block;
    text-align: center;
    background-color: #ffb400;
    padding: 10px;
    border: 1px solid #ffb400;
    cursor: pointer;
    color: white;
}

@media screen and (max-width: 480px) {
    .center-image {
        padding: 0px;
        width: 100%;
    }

    .img-container {
        height: 50%;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        right: 0;
        left: 0;
        margin-top: 30px;
        text-align: center;
        padding: 16px 0;
        background-color: #fff;
        z-index: 10;
        box-shadow: 0 1px 10px 0 rgb(0 0 0 / 19%);
    }

    .menu > li {
        /* margin: 20px; */
        padding: 30px;
    }

    .hamburger {
        display: block;
    }

    input[type=checkbox]:checked ~ .menu {
        display: block;
    }

    .img-container {
        height: 50%;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

